@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> signInManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>@ViewData["Title"]</title>
    <link rel="icon" type="image/x-icon" href="~/assets/favicon.ico" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
<link href="~/css/ahh.css" rel="stylesheet"/>
    <link href="~/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/custom.css" rel="stylesheet"/>
    <link href="~/css/font-awesome.min.css" rel="stylesheet"/>
    <link href="~/css/PagedList.css" rel="stylesheet" />
    <link href="~/css/responsive.css" rel="stylesheet" />
    <link href="~/css/ahh.css" rel="stylesheet"/>
    <link href="~/css/styles.css" rel="stylesheet" />
</head>
<body>
    <nav class="navbar navbar-expand-lg custom_nav-container menu">
        <li><a class="navbar-brand" href="@Url.Action("Index", "Home")"></a></li>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class=""> </span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Index", "Home")">Home <span class="sr-only"></span></a>
                </li>



                @if (User.IsInRole("Admin"))
                {

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" role="button" aria-expanded="false">
                            Admin
                            
                        </a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-item"><a href="@Url.Action("ListUsers", "Administration")">Users</a></li>
                            <li class="dropdown-item"><a href="@Url.Action("ListRoles", "Administration")">Roles</a></li>
                            <li class="dropdown-item">
                                <a href="@Url.Action("Index", "Suppliers")">Suppliers</a>
                            </li>
                            <li class="dropdown-item">
                                <a href="@Url.Action("Index", "Categories")">Categories</a>
                            </li>
                            <li class="dropdown-item">
                                <a href="@Url.Action("Index", "OrderProducts")">Products in Orders</a>
                            </li>
                        </ul>
                </li>

                }
         



                <li class="nav-item">
                    <a class="nav-link" asp-action="Index" asp-controller="Products">
                        Shop
                    </a>
                </li>

                @if (signInManager.IsSignedIn(User))
                {

                    <li class="nav-item">
                        <a class="nav-link" asp-action="Index" asp-controller="Orders">
                            Orders
                        </a>
                    </li>

                }


              @*  <li class="nav-item">
                    <a class="nav-link" asp-action="Index" asp-controller="ShoppingCart">
                       
                    </a>
                </li>*@
                    <partial name="_LoginPartial" />

            </ul>
        </div>
    </nav>
@RenderBody()
<footer class="py-5 bg-dark">
    <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Sickly Wiccan 2022</p></div>
</footer>
    @await RenderSectionAsync("Scripts", false)

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/scripts.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

    <script>

        //For each <li> in the <nav class="menu">, apply the following function

        $('.menu li').each(function () {

            //If the <a> tag inside a <li> is linked to the current URL

            if ($(this).find('a').attr('href') == window.location.pathname) {

                //Add the "active" class to the <a> tag

                $(this).addClass('active');

            }

        });

    </script>
    </body>
</html>


                @*Abc1234!*@