@model StoreFront.DATA.EF.Models.Product

@{
    ViewData["Title"] = "Details";
}

<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Product Details</h1>
            <p>
                <a class="products-link" asp-action="Edit" asp-route-id="@Model?.ProductId">Edit</a> |
                <a class="products-link" asp-action="Index">Back to List</a>
            </p>
        </div>
    </div>
</header>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UnitsInStock)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UnitsInStock)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UnitsOnOrder)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UnitsOnOrder)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsDiscontinued)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsDiscontinued)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductImage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductImage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category.CategoryName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Supplier)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Supplier.Address)
        </dd>
    </dl>
</div>
